/* Reset e Fonte */
body, html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #121231; /* Fundo escuro */
    color: #FFFFFF;
}
/* Particulas */

#particles-js{
    height: 100%;
    width: 100%;
    position: relative;
    background: #000c22; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.particles-js-canvas-el{
    justify-content: start;
    color: #fff;
}
/* Voltar */
.voltar {
    padding: 10px;
}
.voltar a i {
    color: #f4f4f4;
    font-size: 24px;
    transition: transform 0.2s;
}
.voltar a i:hover {
    transform: scale(1.2);
}

/* Container Principal */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    grid-template-rows: repeat(3, auto); /* Linhas automáticas */
    gap: 16px;
    padding: 20px;
    max-width: 90%;
    height: 80vh;
    margin: 0 auto;
}

/* Itens do Grid */
.grid-item {
    background-color: #F3F6F9; /* Fundo claro */
    border-radius: 12px;
    padding: 16px;
    color: #02255D;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Nome da Máquina */
.salmon {
    grid-column: span 2; /* Ocupa 2 colunas */
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
.salmon ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.salmon li {
    margin-bottom: 5px;
}

/* Imagem Principal */
.edamame {
    grid-column: span 1; /* Ocupa 1 coluna */
    grid-row: span 2; /* Ocupa 2 linhas */
    padding: 0;
}
.edamame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* Custo por Setor e Custo Realizado */
.tamago {
    grid-column: span 2;
    grid-row: span 3;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tamago h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

/* Grafico */
#sectorChart {
    width: 300px !important;
    height: 300px !important;
    align-items: center !important;
}


/* Status */
.pork {
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}
.pork h2 {
    font-size: 18px;
    margin-bottom: 8px;
}
.pork label {
    display: block;
    margin-bottom: 8px;
}

/* Histórico de Manutenção */
.tomato {
    grid-column: span 4; /* Ocupa 4 colunas */
    grid-row: span 1;
    padding: 16px;
    background-color: #F3F6F9; /* Fundo claro */
    border-radius: 12px;
}

.tomato h2 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #02255D;
    text-align: left;
}

.historico {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Espaço entre as linhas */
}

.linha-historico {
    display: grid;
    grid-template-columns: 80px 1fr; /* Coluna para a data e outra para o texto */
    align-items: center;
    gap: 16px;
    padding: 8px 0;
    border-bottom: 2px solid #02255D; /* Linha divisória azul escura */
}

.linha-historico:last-child {
    border-bottom: none; /* Remove a linha da última entrada */
}

.data {
    font-size: 20px;
    font-weight: bold;
    color: #02317A;
    text-align: left;
}

.texto {
    font-size: 16px;
    color: #02255D;
    text-align: left;
}

/* Botão PDF */
.btn-pdf {
    background-color: #436395;
    color: #FFFFFF;
    padding: 10px 50px;
    border-radius: 55px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 25px;
    align-items: center;
}
.btn-pdf:hover {
    background-color: #173d79;
}
.container_btn{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 50px;
}

input[type="checkbox"]:disabled {
    cursor: not-allowed;
    opacity: 1; /* Remove a opacidade reduzida */
    background-color: #ddd; /* Cor de fundo para o checkbox desabilitado */
    color: #333; /* Cor do texto */
}

/* Para o label também se destacar */
input[type="checkbox"]:disabled + label {
    color: #666; /* Cor do texto ao lado do checkbox desabilitado */
    cursor: not-allowed; /* Desativa o cursor do texto também */
}
