@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;

    height: 100vh;  
    overflow: hidden;
    
}
/*  Alerta de erro */

.alerta {
    width: 23vw;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 30px;

}
.alert.error {
    color: red;
    font-weight: bold;
    font-family: "Quicksand";
    font-size: 20px;
    text-align: center;
}


/* Imagem Logo */
.header{
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 10;
    margin: 10;
    width: 95vw;
    top: 0%;
}

/* Link para entrar sem login */
a {
    text-decoration: none;
    color: #fff;
    font-family: "Quicksand";
    font-size: 17px;
}
/* Particulas */

#particles-js{
    height: 100%;
    width: 100%;
    position: relative;
    background: #000c22; 
    /* Tema escuro */
    /* background-color: #fff;  */
    /* Tema claro */
    display: flex;
    align-items: center;
    justify-content: center;

}

.particles-js-canvas-el{
    justify-content: start;
    color: #fff;
}

/*  Tela do login */

#form_fundo {

    /* transform: scale(0.8); Reduz o tamanho de todos os elementos para 80% */


    width: 750px;
    margin: 7%;
    align-items: center;
    position: absolute;
    text-align: center;
    background: rgba(12, 24, 44, 0.5);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(6.7px);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(230, 230, 230, 0.25); /* Borda semi-transparente */
}

#form_frente{
    padding: 20px 40px 40px 40px;
}

/* Texto */

h1{
    font-size: 1.5em;
    padding-bottom: 12px;
    color: white;
    font-family: "Quicksand";
    font-weight: 600;
}
.campo{
    display: flex;
    flex-direction: column;
    text-align: start;
}

label{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 8px;
    font-family: "Quicksand";
}

input {
    font-size: 16px;
    background-color: rgba(230, 230, 230, 0.25);
    border: none;
    padding-left: 12px;
    color: #DEDADA;
    border-radius: 6px;
    font-family: "Quicksand";
    height: 40px; /* Define uma altura fixa para o input */
    line-height: 10px; /* Define o line-height igual à altura para centralizar o texto */
    box-sizing: border-box;
    outline: none;
}

input::placeholder {
    font-size: 16px;
    font-family: "Quicksand";
    color: #DEDADA;
}

input:focus{
    background-color: rgba(230, 230, 230, 0.5);
    
}

.nivel{
    margin-bottom: 8px;
}

/* Dropdown */



select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 5%;
    padding: 10px;
    
    border-radius: 6px;
    background: rgba(230, 230, 230, 0.25);
    color: #DEDADA;
    border: 0px rgba(230, 230, 230, 0.25) solid;
    
    font-family: "Quicksand";
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

option{
    background-color: #363a43;
}

/* Clicked styles (added Later in JS) */

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 8px 2px #26489a; /* aumentei a sombra para ser mais visível */
}

.select:hover {
    background: rgba(230, 230, 230, 0.5)e;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

/* Rotate styles (added Later in JS) */

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    font-family: "Quicksand";
    list-style: none;
    padding: 4px;
    background: #3E4757;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    color: #DEDADA;
    position: absolute;
    top: 4.0em;
    left: 50%;
    width: 100%; 
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 7px;
    margin: 0.3px 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: rgba(0, 0, 0, 0.2);
}

/* Active Styles (added later in JS) */

.active {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    /* padding: 5px; */
    color: #fff;
}

/* Open Styles (added later in JS) */

.menu-open{
    display: block;
    opacity: 1;
}

/* Botão */

button{
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(230, 230, 230, 0.25);
    color: white;
    width: 152px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-family: "Quicksand";
    transition: 0.75s;
}


button:hover{
    color: #000;
    cursor: pointer;
    color: #B3B3B3;
    background-color: #02317A;
    /* font-size: 20px; */
    cursor: pointer;
}

#form_fundo {
    width: 650px; /* Reduzido em 70% (de 750px para 225px) */
    /* height: 425px; */
    
}

