@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
   
}
body{
    background-color: #010d11;
}
.banner {
    width: 100%;
    display: block;
}

img, p{
    z-index: 2;
}

/* Sobre */
ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #010d11;
    list-style: none;
    margin-top: 0;
    height: 600px;
    position: relative;
    z-index: 1; 
    /* overflow: hidden; */
}

li {
    margin: 50px;
}

.mmms, .senai {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    align-items: center;
}

.img-mmms {
    margin-bottom: 95px;
}

p {
    font-size: 25px;
    font-family: "Quicksand";
}

.linha-vertical {
    width: 20px; 
    height: 90%; 
    background: linear-gradient(to bottom, #010d11, #404648, #4d5558, #404648, #010d11); 
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Corrige o alinhamento da linha */
}

.container-sobre-nos {
    position: relative;
    overflow: hidden; 
    margin-bottom: 50px;
}

.circulo {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #4d555871;
    position: absolute;
    z-index: 1; /* Garante que os círculos fiquem atrás do conteúdo */
}

#circulo-1 {
    top: 60%;
    left: -150px; /* Posiciona o primeiro círculo à esquerda */
}

#circulo-2 {
    top: -20%;
    right: -150px; /* Posiciona o segundo círculo à direita */

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mmms, .senai {
    margin-left: 50px;
}

/* ___________________________________________ */
/* Tabs*/

.container-tabs{
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.tab-buttons{
    display: flex;
    gap: 6px;
}

.tab-btn{
    width: 100%;
    border: none;
    color: #010d11;
    background-color: #4d5558;
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
    font-family: "Quicksand";
    font-size: 20px;
    font-weight: bold;
}

.tab-btn.active {
    background-color: gray;
}

.content{
    display: none;
    
}

.content.show{
    display: flex;
    gap:14px;
    background-color: gray;
    border-radius: 0px 0px 8px 8px;
    padding: 16px;
}

.content-img{
    width: 50%;
    height: 250px;
    padding-top: 50px;
}

.infos{
    padding: 50px 30px;
    text-align: center;
    align-items: center;
}