* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Imagem Logo */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    
    background-color: #000c22;
}

/* Link para entrar sem login */
a {
    text-decoration: none;
    color: #fff;
    font-family: "Quicksand";
    font-size: 17px;
    padding-right: 50px;
}

body {
    font-family: "Fahkwang", sans-serif;
    font-style: normal;
    font-weight: 600;
    background-color: #E5E5E5;
}

main {
    display: flex;
    justify-content: center;

    margin: 15px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    /* max-width: 800px; */
    padding: 20px;
    border-radius: 10px;
    background-color: #8EA1C0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

fieldset {
    border: 2px solid #4f78a1;
    padding: 15px;
    border-radius: 8px;
}

legend {
    font-weight: bold;
    color: #02317A;
    padding: 0 10px;
}

.row, .content-section {
    display: flex;

    gap: 10px;
    margin-top: 10px;
}

.content-section {
    display: flex;
    gap: 20px;
}

.image-upload, .text-content {
    flex: 1 1 50%;
}

label {
    font-weight: 600;
    color: #333;
}

input[type="text"], 
input[type="date"], 
input[type="file"], 
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
}

textarea {
    resize: vertical;
}

.image-upload img {
    max-height: 222px;
    max-width: 100%;

    display: block;
    
    border-radius: 5px;
    border: 1px solid #ccc;
}

.previewplaceholder{
    width: 100%;
    height: 222px;

    display: flex;
    justify-content: center;
    margin-top: 10px;
    
    border-radius: 5px;
    background-image: 
        linear-gradient(45deg, #CCCCCC 25%, transparent 25%, transparent 75%, #CCCCCC 75%, #CCCCCC),
        linear-gradient(-45deg, #CCCCCC 25%, #F3F3F3 25%, #F3F3F3 75%, #CCCCCC 75%, #CCCCCC);
    background-size: 20px 20px;
    border: 1px solid #ccc;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4f78a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3b5a82;
}
