<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Layout</title>
    <link rel="shortcut icon" href="../static/assets/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/CSS/bento.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        function selecionarUnico(checkbox) {
            const checkboxes = document.getElementsByName('opcao');
            checkboxes.forEach(item => {
                if (item !== checkbox) item.checked = false;
            });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="voltar">
        <a href="../templates/home.html"><i class="fa-solid fa-door-open"></i></a>
    </div>
    <div class="container">
        <div class="grid-item salmon">
            <ul>
                <li><strong>{{ card.machine_name }}</strong></li>
                <li>Modelo: {{ card.model }}</li>
                <li>Ano de Fabricação: {{ card.manufacturing_year }}</li>
                <li>Setor: {{ card.sector }}</li>
                <li>Categoria: {{ card.category }}</li>
            </ul>
        </div>
        <div class="grid-item tamago">
            <h2>Custo Realizado por Setor</h2>
            <canvas id="sectorChart" width="400" height="400"></canvas>
        </div>
        <div class="grid-item pork">
            <h2>Status</h2>
            <form>
                <label>
                    <input type="checkbox" name="opcao" 
                           onclick="selecionarUnico(this)"
                           {% if card.status == 'Operando' %} checked {% endif %}>
                    Operando
                </label>
                <label>
                    <input type="checkbox" name="opcao" 
                           onclick="selecionarUnico(this)"
                           {% if card.status == 'Parado' %} checked {% endif %}>
                    Parado
                </label>
                <label>
                    <input type="checkbox" name="opcao" 
                           onclick="selecionarUnico(this)"
                           {% if card.status == 'Aguardando Manutenção' %} checked {% endif %}>
                    Aguardando Manutenção
                </label>
            </form>
        </div>
        <div class="grid-item edamame">
            <img src="{{ card.image_path }}" alt="Imagem da Máquina">
        </div>
        <div class="grid-item tomato">
            <h2>Histórico de Manutenção</h2>
            <div class="historico">
                <div class="linha-historico">
                    <div class="data">15 SET</div>
                    <div class="texto">Lorem ipsum q sla sla o q</div>
                </div>
                <div class="linha-historico">
                    <div class="data">15 SET</div>
                    <div class="texto">Lorem ipsum q sla sla o q</div>
                </div>
            </div>
            
        </div>
        <button onclick="window.location.href=`{{ url_for('download_cuidados', card_id=card.id) }}`" class="btn-pdf">
                Gerar PDF
        </button>
        
    </div>
    <script>
        // Convertendo os dados JSON para um array JavaScript
        const sectorCosts = `{{ sector_costs | tojson }}`;
        console.log(sectorCosts);  // Verifique no console se os dados estão sendo passados corretamente
    </script>
    <script src="../static/JS/grafico.js"></script>
</body>
</html>
