<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título da Página -->
    <title>Tela de Login</title>

    <!-- Links para CSS e o ícone -->
    <link rel="stylesheet" href="../static/CSS/cadastro.css">
    <link rel="shortcut icon" href="../static/assets/logo.ico" type="image/x-icon">
</head>

<body>
    <!-- Fundo -->
    <div id="particles-js">

        <header class="header">
            <img src="../static/assets/logo_mundo_senai-removebg-preview.png" alt="" width="200" height="120">
            <a href="/home">→ Entrar sem login</a>
        </header>

        <!-- Card de Login -->
        <div id="form_fundo">
            
            <div id="form_frente">

                <h1>Cadastro</h1>

                  

                <!-- Área do Formulário -->
                <form action="/cadastro" id="cadastro" method="POST"> 

                    <!-- Campo de inserção do Nome -->
                    <div class="campo">
                        <label for="nome">Nome Completo:</label>
                        <input type="name" name="nome" id="nome" required placeholder="Digite seu nome completo"><br>
                    </div>

                    <!-- Campo de inserção do E-mail -->
                    <div class="campo" id="campo">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" required placeholder="Digite seu email"><br>
                    </div>

                    <!-- Campo de inserção da Senha -->
                    <div class="campo">
                        <label for="senha" id="senha">Senha:</label>
                        <input type="password" name="senha" id="senha" required placeholder="Digite sua senha"><br>
                    </div>

                     <!-- Campo do Dropdown para Seleção de Nível -->
                <div class="campo">
                    <label for="role">Qual é o nível do usuário?</label>
                    <select name="role" id="role" required>
                        <option value="" disabled selected>Selecione o nível do usuário</option>
                        <option value="visitante">Visitante</option>
                        <option value="supervisor">Supervisor</option>
                        <option value="administrador">Administrador</option>
                    </select>
                </div>

                    <!-- Botão de Entrar -->
                    <button type="submit" id="btn_login">Cadastrar</button>
                </form>
            </div>  
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="../static/JS/particles.js"></script>
    <script type="text/javascript" src="../static/JS/app.js"></script>
    <script type="text/javascript" src="../static/JS/cadastro.js"></script>
</body>
</html>
