<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título da Página -->
    <title>Tela de Login</title>

    <!-- Links para CSS e o ícone -->
    <link rel="stylesheet" href="../static/CSS/login.css">
    <link rel="shortcut icon" href="../static/assets/logo.ico" type="image/x-icon">
</head>

<body>
    <!-- Fundo -->
    <div id="particles-js">

        <header class="header">
            <img src="../static/assets/logo_mundo_senai-removebg-preview.png" alt="" width="200" height="120">
            <a href="/home">→ Entrar sem login</a>
        </header>

        <!-- Card de Login -->
        <div id="form_fundo">
            <h1>Login</h1>

            <div id="form_frente">

                  <!-- Exibir mensagens de erro -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="alerta">
                            {% for category, message in messages %}
                                <div class="alert {{ category }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

                <!-- Área do Formulário -->
                <form action="/" id="login" method="POST"> 
                    <!-- Campo de inserção do E-mail -->
                    <div class="campo" id="campo">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" required placeholder="Digite seu email"><br><br>
                    </div>
                    <!-- Campo de inserção da Senha -->
                    <div class="campo">
                        <label for="senha" id="senha">Senha</label>
                        <input type="password" name="senha" id="senha" required placeholder="Digite sua senha"><br><br>
                    </div>

                    <!-- Botão de Entrar -->
                    <button type="submit" id="btn_login">
                        <span>Entrar</span>
                    </button>
                </form>
            </div>  
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="../static/JS/particles.js"></script>
    <script type="text/javascript" src="../static/JS/app.js"></script>
</body>
</html>
