<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/CSS/politicas.css">
    <title>Politicas de Privacidade</title>
</head>
<body>

    <!-- Header -->
    <header class="header">
        <nav>
          <div class="logo-header">
            <a href="/home">
              <img src="../static/assets/logo_mundo_senai-removebg-preview.png" alt="logo" width="125px"/>
            </a>
          </div>
          
          <div class="list-header">
            <ul id="MenuItems" class="menu-itens">
              <li class="header-itens"><a href="../../templates/home.html">Home</a></li>
              <li class="header-itens"><a href="../../templates/sobre.html">Sobre Nós</a></li>
  
              <a href="../../templates/login.html">
                <img src="../../static/assets/perfil-icon.png" alt="logo" width="50px" class="perfil-icon-header"/>
              </a>
            </ul>
          </div>
        </nav>
    </header>
</body>
</html>