<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Politicas de Privacidade</title>

    <!-- Link para o CSS -->
    <link rel="stylesheet" href="../static/CSS/politicas.css">

    <!-- Link para fontawesome (Icones) -->
    <script src="https://kit.fontawesome.com/23655c98f8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    
</head>

  <body>

    <!-- Header -->
    <header class="header">
        <nav>
          <div class="logo-header">
            <a href="/home">
              <img src="../static/assets/logo_mundo_senai-removebg-preview.png" alt="logo" width="125px"/>
            </a>
          </div>
          
          <div class="list-header">
            <ul id="MenuItems" class="menu-itens">
              <li class="header-itens"><a href="/home">Home</a></li>
              <li class="header-itens"><a href="/sobre">Sobre Nós</a></li>
  
              <a href="/templates/login.html">
                <img src="../../static/assets/perfil-icon.png" alt="logo" width="50px" class="perfil-icon-header"/>
              </a>
            </ul>
          </div>
        </nav>
    </header>

    <!-- Main -->
    <main>

      <!-- Titulo da pagina -->
      <h1>Politicas de Privacidade</h1>

      <div>
        <p>
          A sua privacidade é importante para nós. É dever respeitar a sua privacidade em relação a qualquer informação que a MMM-S coleta.
          Solicitamos informações pessoais apenas quando necessitamos delas para fornecer um serviço.
          Apenas retermos as informações coletadas conforme o tempo necessário. Quando armazenamos os dados, os protegemos  para evitar perdas ou roubos.
          Não compartilhamos informações de dados pessoais publicamente, exceto quando a um exigido por lei.
          A aceitação de nossa Política de Privacidade será feita quando você acessar ou usar o serviços da MMM-S. Isso indicará que você está ciente de como utilizaremos as suas informações e seus dados.
          Se você tiver algum questionamento sobre como lidamos com dados do usuário e informações pessoais, entre em contacto conosco.
          Esta política é efetiva a partir de Oct/2024
          Segurança do site MMM-S
          O site é confiável e seguro para o usuário.
          Sobre a Política de Privacidade e Termos de Uso
          O que é uma Política de Privacidade?
          Uma política de privacidade é um documento que explica como um website lida com toda a informação coletada dos seus utilizadores e/ou clientes.
          A Importância da Política de Privacidade
          As políticas de privacidade podem ser exigidas por lei, dependendo de onde você opera. Em qualquer caso, é uma boa prática ter uma política de privacidade de proteção de dados, especialmente se você coletar qualquer tipo de dados privados de seus usuários (por exemplo, dados de cookies, detalhes de pagamento, endereço e número de telefone).
          O que são Termos de Uso Termos e Condições?
          Tecnicamente, você não precisa de uma declaração de termos de serviço. Não é exigido por lei, mas geralmente é aconselhável incluir esses termos.
        </p>
      </div>
    </main>

    <!-- Footer -->
    <footer>
      <div class="container-footer">
        <div class="row-footer">
          <div class="container">
            <img src="../../static/assets/logo_mundo_senai-removebg-preview.png" alt="">
            <img src="../static/assets/logo.png" alt="">
          </div>

          <div class="footer-col">
            <h4>Informações</h4>
            <ul>
              <li><a href="/sobre">Contatos</a></li>
              <li><a href="/termos">Termos de Serviço</a></li>
              <li><a href="/politica">Política de Privacidade</a></li>
            </ul>
          </div>

          <div class="footer-col">
            <h4>Entre em contato</h4>
            <div class="form-sub">
              <form>
                <input type="email" placeholder="Digite o seu e-mail" required>
                <button>Enviar</button>
              </form>
            </div>

            <div class="medias-socias">
              <a href="#"> <i class="fa fa-facebook"></i> </a>
              <a href="#"> <i class="fa fa-instagram"></i> </a>
              <a href="#"> <i class="fa fa-twitter"></i> </a>
              <a href="#"> <i class="fa fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </footer> 
  </body>
</html>