<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="../static/assets/logo.ico" type="image/x-icon">
   
    <!-- Titulo da pagina -->
    <title>Sobre Nós</title>

    <link rel="stylesheet" href="../static/CSS/sobre.css">
</head>
<body>
    <!-- Header -->
    <header></header>

    <main>
        <!-- Banner -->
        <img src="../static/assets/WhatsApp Image 2024-09-20 at 11.04.54 1.png" alt="" class="banner">
    </main>

    
        
    <!-- Sobre nós e senai -->
    <div class="container-sobre-nos">
        <ul>
            <div class="circulo" id="circulo-1"></div>
            <li class="mmms">
                <img src="../static/assets/logo.png" alt="" width="350" class="img-senai">
                <p>Somos a MMM-S (Monitoramento de Manutenção de Máquinas -Software), uma plataforma prática para acessar dados técnicos e fornecer informações sobre máquinas do Senai.</p>
            </li>

            <div class="linha-vertical"></div>

            <li class="senai">
                <img src="../static/assets/image 7.png" alt="" width="400" class="img-mmms">
                <p>O Senai (Serviço Nacional de Aprendizagem Industrial) é uma instituição de ensino que oferece formação profissional voltada para a indústria, com cursos técnicos e qualificação.</p>
            </li>
            <!-- <div class="circulo" id="circulo-2"></div> -->
        </ul>
    </div>

    <!-- Tabs -->
 
     <div class="container-tabs">
        <div class="tab-buttons">
            <button class="tab-btn " content-id="Quem somos">
                Quem somos
            </button>

            <button class="tab-btn" content-id="Nosso Objetivo">
                Nosso Objetivo
            </button>
        </div>
        <div class="tabs-contents">
            <div class="content" id="Quem somos">
                <img class="foto" src="../static/assets/mosaico_sobre_nós.jpeg" alt="">
                <div class="infos">
                    <h1 class="content-title">Quem somos?</h1>
                    <p class="content-description">
                        O grupo formado por Gabriela, Isabela, Lívia, Pedro, Raphael, Samuel, Sophia e Victor, convocados no contexto do Novo Ensino Médio, uniu-se na sala 1DE do curso de Desenvolvimento de Sistemas. Apesar das diferenças nas habilidades e experiências escolares, o trabalho em equipe foi essencial para o fortalecimento dos laços entre eles. Ao longo de quatro semestres, a amizade entre os integrantes cresceu, permitindo a criação de projetos de forma criativa e colaborativa.
                    </p>
                </div>
            </div>

            <div class="content" id="Nosso Objetivo">
                <img class="foto" src="../static/assets/undraw_cat_epte.svg" alt="">
                <div class="infos">
                    <h1 class="content-title">Nosso Objetivo</h1>
                    <p class="content-description">
                        O projeto final do grupo foi desenvolvido como Trabalho de Conclusão de Curso (TCC), no último semestre do curso. O objetivo foi a criação de um site para garantir a segurança, eficiência e durabilidade dos equipamentos de usinagem do SENAI A. Jacob Lafer. O grupo acredita que o sistema criado contribuirá para um ambiente de aprendizado mais seguro e produtivo, aliando tecnologia e inovação à educação técnica de qualidade.
                    </p>
                </div>
            </div>
        </div>
     </div>
     <script src="../static/JS/tabs.js"></script>
</body>
  
</html>