<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENAI - Sobre Nós</title>
    <link rel="stylesheet" href="../static/CSS/sobre.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="../static/assets/logo.ico" type="image/x-icon">
</head>
<body>
    
    <!-- Cabeçalho -->
    <header>
        <div class="logo">
            <img src="../static/assets/logo_mundo_senai-removebg-preview.png" alt="Logo do SENAI">
        </div>


        <div class="search-container">
            <div class="search-bar">


                <input type="text" placeholder="Pesquisar">
                <button class="search-btn">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>


        <nav class="menu">
            <a href="/home">Home</a>
            <a href="/sobre">Sobre Nós</a>
            <div class="user-icon">
                <i class="fas fa-user" href="/"></i>
            </div>
        </nav>
    </header>

   


    <!-- Foto da equipe abaixo do cabeçalho -->
    <div class="team-photo fade-in">
        <canvas id="canvas1"></canvas>
        <img src="../static/assets/WhatsApp Image 2024-12-05 at 09.23.23.jpeg" alt="Equipe">
    </div>


    <!-- Conteúdo principal -->
    <div class="main-content fade-in">
        
        <h1>Sobre Nós</h1>
        <div class="fitinha"></div>


        <div class="section fade-in">
            <h2>Quem Somos?</h2>
            <p>Somos a MMM-S (Monitoramento de Manutenção de Máquinas - Software), uma plataforma prática para acessar dados técnicos e fornecer informações sobre máquinas do Senai.</p>
        </div>


        <div class="sobre-senai fade-in">
            <h2>Sobre o Senai</h2>
            <p>O Senai (Serviço Nacional de Aprendizagem Industrial) é uma instituição de ensino que oferece formação profissional voltada para a indústria, com cursos técnicos e qualificação.</p>
        </div>


        <div class="section fade-in">
            <h2>Nosso Objetivo</h2>
            <p>O projeto final do grupo foi desenvolvido como Trabalho de Conclusão de Curso (TCC), no último semestre do curso. O objetivo foi a criação de um site para garantir a segurança, eficiência e durabilidade dos equipamentos de usinagem do SENAI A. Jacob Lafer. O grupo acredita que o sistema criado contribuirá para um ambiente de aprendizado mais seguro e produtivo, aliando tecnologia e inovação à educação técnica de qualidade.</p>
        </div>
    </div>


    <!-- Equipe -->
    <h1>Nossa Equipe</h1>
    <div class="fatinha"></div>
    <div class="team-members">
      
        <!-- Equipe à esquerda -->
        <div class="team-left">
            <!-- Membro Gabriela -->
            <div class="member-card fade-in">
                <div class="foto-gabi-container">
                    <img src="../static/assets/gabi.jpeg" alt="Foto da Gabi" class="foto-gabi">
                </div>
                <div class="member-info">
                    <h3>Gabriela Malerba</h3>
                    <a href="https://www.linkedin.com/in/gabriela-malerba" class="linkedin-icon" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
            <!-- Membro Isabela -->
            <div class="member-card fade-in">
                <div class="foto-isinha-container">
                    <img src="../static/assets/isinha.jpeg" alt="Foto da Isabela" class="foto-isinha">
                </div>
                <div class="member-info">
                    <h3>Isabela</h3>
                    <a href="https://www.linkedin.com/in/isabela" class="linkedin-icon" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
            <!-- Membro Lívia -->
            <div class="member-card fade-in">
                <div class="foto-livia-container">
                    <img src="../static/assets/livia.jpeg" alt="Foto da Lívia" class="foto-livia">
                </div>
                <div class="member-info">
                    <h3>Lívia Figueredo da Silva</h3>
                    <a href="https://www.linkedin.com/in/livia" class="linkedin-icon" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
            <!-- Membro Pedro -->
            <div class="member-card fade-in">
                <div class="foto-pedro-container">
                    <img src="../static/assets/pedro.jpeg" alt="Foto do Pedro" class="foto-pedro">
                </div>
                <div class="member-info">
                    <h3>Pedro Mitsuaki Tanaka Costa</h3>
                    <a href="https://www.linkedin.com/in/pedro" class="linkedin-icon" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>


        <!-- Equipe à direita -->
        <div class="team-right">
            <!-- Membro Raphael -->
            <div class="member-card fade-in">
                <div class="foto-raphael-container">
                    <img src="../static/assets/raphael.jpeg" alt="Foto do Raphael" class="foto-raphael">
                </div>
                <div class="member-info">
                    <h3>Raphael Thierry Gomes</h3>
                    <a href="https://www.linkedin.com/in/raphael" class="linkedin-icon" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
            <!-- Membro Samuel -->
            <div class="member-card fade-in">
                <div class="foto-samuel-container">
                    <img src="../static/assets/samuel.jpeg" alt="Foto do Samuel" class="foto-samuel">
                </div>
                <div class="member-info">
                    <h3>Samuel da Silva Izidoro</h3>
                    <a href="https://www.linkedin.com/in/samuel" class="linkedin-icon" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
            <!-- Membro Shopia -->
            <div class="member-card fade-in">
                <div class="foto-shopia-container">
                    <img src="../static/assets/sophia.jpeg" alt="Foto da Shopia" class="foto-shopia">
                </div>
                <div class="member-info">
                    <h3>Shopia Ramalho Keller</h3>
                    <a href="https://www.linkedin.com/in/shopia" class="linkedin-icon" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
            <!-- Membro Vitor -->
            <div class="member-card fade-in">
                <div class="foto-vitor-container">
                    <img src="../static/assets/victor.jpeg" alt="Foto do Vitor" class="foto-vitor">
                </div>
                <div class="member-info">
                    <h3>Vitor Oliveira Rodrigues</h3>
                    <a href="https://www.linkedin.com/in/vitor" class="linkedin-icon" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>


  <!-- ____________________________________________________________________________ -->
    <!-- Footer -->
    <footer>
        <div class="container-footer">
          <div class="row-footer">
            <div class="container">
              <img src="../../static/assets/logo_mundo_senai-removebg-preview.png" alt="">
              <img src="../static/assets/logo.png" alt="">
            </div>
  
            <div class="footer-col">
              <h4>Informações</h4>
              <ul>
                <li><a href="/sobre">Contatos</a></li>
                <li><a href="/termos">Termos de Serviço</a></li>
                <li><a href="/politica">Política de Privacidade</a></li>
              </ul>
            </div>
  
            <div class="footer-col">
              <h4>Entre em contato</h4>
              <div class="form-sub">
                <form>
                  <input type="email" placeholder="Digite o seu e-mail" required>
                  <button>Enviar</button>
                </form>
              </div>
  
              <div class="medias-socias">
                <a href="https://www.facebook.com/senaisaopaulo/?locale=pt_BR" target="_blank"> <i class="fa fa-facebook"></i> </a>
                <a href="https://www.instagram.com/senai.sp/" target="_blank"> <i class="fa fa-instagram"></i> </a>
                <a href="https://twitter.com/senaisaopaulo" target="_blank"> <i class="fa-brands fa-x-twitter"></i> </a>
                <a href="https://br.linkedin.com/school/senaisp/" target="_blank"> <i class="fa fa-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </footer> 
<script src="../static/JS/sobre.js"></script>
<script src="../static/JS/rastro.js"></script>

</body>
</html>