*{
  font-family: "Fahkwang", sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #171717;
  align-items: center;
  text-align: center;
  padding: 25px 50px;

}

.input-search-header{

  display: flex;
  align-items: center;
  gap: 5px; /* Adiciona 5px de espaço entre os itens */

}

.input-header{

  width: 300px;
   border-radius: 20px;
   height: 35px;
   width: 500px;
   padding-left: 10px;
   background: white;
   border: none;
   outline: none;
}

.search-button-header{

  background-color: #ff523b; /* Cor de fundo vermelho */
  color: white; /* Cor do texto/branco do ícone */
  font-size: 12px; /* Tamanho do ícone */
  padding: 10px 12px; /* Aumenta o tamanho do botão */
  border: none; /* Remove a borda padrão */
  border-radius: 25px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  padding-left: 10px;
}

.search-button-header:hover{
  background-color: darkred; /* Muda a cor ao passar o mouse */
}


ul{
  display: flex;
  flex-direction: row;
  gap: 15px;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
}

li a{
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  font-weight: bold;

}

li a:hover{
  background-color: #ff523b;
  border-radius: 5px;
  color: #fff;
  transition: 0.5s;
}

.perfil-icon-header:hover{

  filter: invert(24%) sepia(91%) saturate(7492%) hue-rotate(357deg) brightness(90%) contrast(107%);

}