body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 20px;
}

.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.mono-theme {
    background-color: #000B0E;
    color: #fff;
}

.alto-theme {
    color: #f2ff00;
    background-color: #000000;
}

.menu.light-theme {
    background-color: #ffffff; /* Cor de fundo claro para o menu */
}

.menu.dark-theme {
    background-color: #000; /* Cor de fundo escuro para o menu */
}

.menu.mono-theme {
    background-color: #545454; /* Cor de fundo azul para o menu */
}

.menu.alto-theme {
    background-color: #000000; /* Cor de fundo verde para o menu */
}

.light-theme .themeBtn {
    background-color: #e7e7e7; /* Cor dos botões no tema claro */
}

.dark-theme .themeBtn {
    background-color: #555; /* Cor dos botões no tema escuro */
}

.mono-theme .themeBtn {
    background-color: #ffffff; /* Cor dos botões no tema mono */
}

.alto-theme .themeBtn {
    background-color: #f2ff00; /* Cor dos botões no tema alto */
}

.light-theme #closeMenuBtn {
    background-color: #e7e7e7; /* Cor do botão fechar no tema claro */
}

.dark-theme #closeMenuBtn {
    background-color: #555; /* Cor do botão fechar no tema escuro */
}

.mono-theme #closeMenuBtn {
    background-color: #ffffff; /* Cor do botão fechar no tema mono */
}

.alto-theme #closeMenuBtn {
    background-color: #f2ff00; /* Cor do botão fechar no tema alto */
}

.divider {
    border: none;
    border-top: 3px solid #ccc; /* Linha divisória */
    margin: 0; /* Remove margem */
    height: 10px; /* Altura da linha */
}

.menu {
    display: none;
    /* opacity: 0; */
    transition: ease-in-out 0.1s;
    position: fixed;
    top: 20%;
    left: 50%;  
    background: rgb(255, 0, 0);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.menu.active {
    display: block;
}

#accessibilityBtn {
    position: fixed;
    bottom: 200px;
    right: 20px;
    padding: 10px 15px;
    z-index: 1001; /* Para garantir que fique acima do menu */

}

.themeBtn {
    display: block;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 10px;
}

.themeGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}
